<div class="jumbotron">
    <p class="lead">Create new post.</p>
    <p>
        @Html.ActionLink("Create new post", "CreatePost", "Blog", null, new { @class = "btn btn-primary btn-lg" })
    </p>
</div>
