@using MvcPL.Infrastructure.Helpers
@model object

@{
    ViewBag.Title = "Home";
}

@Html.LoadingElement("loading", "Loading...", "load")
<div id="blogs">
    @Html.Action((string)ViewBag.Action, Model)
</div>