@model int

@{
    ViewBag.Title = "Home";
}

<div id="loading" class="load" style="display: none">
    <p>Loading...</p>
</div>
<div id="blogs">
    @Html.Action("GetBlogs", new { pageNumber = Model })
</div>