@model MvcPL.Models.PostMainModel

@{
    ViewBag.Title = Model.BlogTitle;
}

<h1 class="blog-title">@Model.BlogTitle</h1>
<p class="lead blog-description">
    by @Html.ActionLink(Model.FirstName + " " + Model.LastName, "IndexUserBlogs", "Home", null, 
      new {userId = Model.UserId, pageNumber = 1})
</p>

@if (User.Identity.IsAuthenticated && ViewBag.IsMyBlog)
{
    <div>
        @Html.Action("EditBlog", "Blog", new {id = Model.BlogId})
    </div>
}

<div id="loading" class="load" style="display: none">
    <p>Loading...</p>
</div>
<div id="blogs">
    @Html.Action("GetBlogPosts", new { blogId = Model.BlogId, pageNumber = Model.PageNumber })
</div>
